@using MyRecipes.Common
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
	<link href="~/css/styles.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="~/fonts/flaticon.css" asp-append-version="true">
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>
	<div id="wrapper" class="wrapper">
		<header class="header-one">
			<div id="header-main-menu" class="header-main-menu header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-3 col-sm-4 col-4 possition-static">
							<nav class="site-nav">
								<ul id="site-menu" class="site-menu">
									<li>
										<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
									</li>
									<li>
										<a asp-area="" asp-controller="Recipes" asp-action="All">All Recipes</a>
									</li>
									<li>
										<a asp-area="" asp-controller="SearchRecipes" asp-action="Index">Search</a>
									</li>
									@if (User.Identity.IsAuthenticated)
									{
										<li>
											<a asp-area="" asp-controller="Recipes" asp-action="Create">Create Recipe</a>
										</li>
									}
								</ul>
								

							</nav>
						</div>
						<partial name="_LoginPartial" />
					</div>
				</div>
			</div>
			<div class="header-bottom d-none d-lg-block">
				<div class="container">
					<div style="background-image: url('/images/src/single-banner5.jpg');
								background-size: cover; height:380px; padding-top:80px;
					">

						<div class="col-lg-1 d-none d-lg-block">
							<div class="site-logo-desktop">
								<a class="main-logo"><img src="~/images/src/siteLogo2.png" width="150" height="150" alt="Site Logo"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container">
			<partial name="_CookieConsentPartial" />
			<main role="main" class="pb-3">
				@this.RenderBody()
			</main>
		</div>

		<footer class="ranna-bg-dark">
			<div class="container">
				&copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>

	</div>
	<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/js/site.min.js" asp-append-version="true"></script>
	@await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
